*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --background: rgba(0, 0, 0, 0.9);
    --page-margin: 0.7em;
    --check: 100%;
}
:any-link {
    text-decoration: none;
}
body {
    background-color: var(--background);
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    font-family: Poppins, 'Segoe UI', verdana;
}
body > header {
    padding: 0 var(--page-margin);
}
.main-heading {
    font-weight: normal;
    font-size: 1em;
    padding: 0.4em;
    border: 0.1em solid #fff;
    display: inline-block;
}
.burger {
    position: relative;
    min-width: 1.8em;
    min-height: 1.8em;
    vertical-align: middle;
    float: right;
    margin: var(--page-margin);
}
.burger > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    width: var(--check);
    height: var(--check);
    z-index: 3;
}
[name="toggle"]:hover,
[name="toggle"]:focus {
    outline: none;
}

#links li {
    font-size: 1.2em;
    margin: 0.5em 0;
}
#links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

#summary {
    padding: 1em var(--page-margin);
}
.more {
    color: #fff;
    position: relative;
    font-size: 1em;
}
.more::before {
    content: "";
    width: 1em;
    height: 1.5px;
    position: absolute;
    background-color: #fff;
    right: -1.5em;
    top: 50%;
    transform: translateY(-50%);
}
.more::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -1.8em;
    top: 50%;
    transform: translateY(-50%);
    --arrow-size: 4px;
    border-top: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent;

    border-left: var(--arrow-size) solid #fff;
}

#showcase {
    padding: 0 var(--page-margin);
}
#design {
    width: calc(100%);
}
.card {
    position: relative;
    left: 50%;
    transform: translate(-40%, -50%);
    background-color: rgba(25, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    max-width: 90%;
    padding: 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
}
.avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
}
.card > header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.card div {
    display: inline-flex;
    flex-direction: column;
}
.card-role {
    font-size: 0.7em;
    color: rgba(255, 255, 255, .6)
}

footer {
    width: fit-content;
    margin: auto;
    padding: .5em;
    font-size: 0.9em;
    text-align: center; /* For narrow devices */
    color: rgba(125, 125, 125, .8);
}


@media (max-width: 739px) {
    .bar {
        position: absolute;
        width: 2em;
        height: 5px;
        background-color: #fff;
        display: block;
        transform-origin: center;
        transition: transform 300ms linear;
        z-index: 2;
        transition: transform 300ms linear;
    }
    .bar:first-of-type {
        top: 0;
    }
    .bar:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
    }
    .bar:nth-of-type(3) {
        bottom: 0;
    }
    .nav-wrap {
        position: fixed;
        right: 0;
        height: 110vh;
        width: 100vw;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.96);
        top: calc(-150vh);
        transition: all 300ms linear;
        z-index: -1;
    }
    [name="toggle"]:checked ~ .nav-wrap {
        top: 0;
        z-index: 1;
    }
    /* .nav-wrap:target{
    transform: translateY(100vh);
    z-index: 0;
} */
    [name="toggle"]:checked ~ .bar:nth-of-type(1) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    [name="toggle"]:checked ~ .bar:nth-of-type(2) {
        display: none;
    }
    [name="toggle"]:checked ~ .bar:nth-of-type(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(45deg);
    }
    #links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - 1em), -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #summary > p {
        max-width: 60%;
        color: rgba(255, 255, 255, 0.6);
    }
    body>footer{border-top: 2px solid #fff;}
}

@media (min-width: 740px) {
    :root{
        --page-margin: 2em;
        --check: 0;
        --background: rgba(0, 0, 0, .9);
    }
    body > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .burger{margin: 1em 0;}
    #links{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #links>li{font-size: 1em; margin: 0 1em;}
    #summary{width: 40%;max-width: 40%;float: left;font-size: 1em;padding: 1.5em 0 1.5em var(--page-margin);}
    #summary>h2{font-size: 2em;}
    #showcase{width: 60%;float: right;margin-top: 3em;padding: 1em;}
    .card{
        background-color: rgba(25, 25, 25, .9);
        box-shadow: none;
    }
}
